body{
    background: url(../images/backgroundBullet.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

img{
    width:70%;
    margin:3% 0 2%;
}

#game_container{
    margin:2% auto;
    /* height:700px; */
    width: 900px;
    overflow:auto;
    background: #FFB612;
    border: grey solid 5px;
    border-radius:15px;
}

#trivia_header{
    font-size:40px;
    color: #203731;
    margin:2% auto;
    text-align:center;
}

#initial_start{
    font-size:30px;
    color: whitesmoke;
    background: #203731;
    margin: 5% auto;
    width: 30%;
    text-align:center;
}

#timer{
    font-size:30px;
    color: whitesmoke;
    background: #203731;
    margin: 3% auto;
    width: 40%;
    text-align:center;
    border-radius:15px;
    border: grey solid 5px;
}
#question{
    font-size:30px;
    color: whitesmoke;
    background: #203731;
    margin: 2% auto;
    width: 80%;
    text-align:center;
    border-radius:15px;
    border: grey solid 5px;
}

#answers{
    font-size:30px;
    color: whitesmoke;
    background: #203731;
    margin: 0 auto 3%;
    padding: 1%;
    width: 80%;
    text-align:center;
    border-radius:15px;
    border: grey solid 5px;
}

button{
    background:white;
}

.answerOptions{
    background: #203731;
    margin: 0 auto;
    padding: 1%;
    width: 80%;
    margin: 1% auto;
}

.right_or_wrong{
    font-size:30px;
    color: whitesmoke;
    background: #203731;
    margin: 0 auto;
    text-align:center;
    border-radius:15px;
}

#timeRemaining {
    float: right;
    padding-right: 2%;
}

#space{
    height:1000px;
}